.clothes__section {
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
   /* margin-left: 116px;
    padding-left: 20px; */
    /* margin-left: 20px; */
}

.clothes__section-heading-container{
    display: flex;
    position: relative;
    margin-top: 17px;
    margin-left: 1px;
    margin-bottom: 10px;
}

.clothes__section-title {
    /* margin-left: 4px; */
    color: #000;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    /* margin-top: 16px; */
    /* position: relative; */
}

.clothes__section_add-button {
    /* margin: 0; */
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    transition: opacity linear 0.2s 0.1s;
    cursor: pointer;
   /* margin-top: -26px;
    margin-left: -671px; */
    /* margin-top: 15px;
    margin-left: 101px; */
    /* position: absolute; */
    margin-left: 10px;
}

.clothes__section_add-button:hover {
    opacity: .6;
}

.clothes__section-gallery {
    /* margin: 0 auto; */
    /* margin-top: 52px; */
    padding: 0;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:1010px;
}