.sidebar {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  margin-right: 116px;
  min-width: 195px;
}

.sidebar__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar__name {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 20px;
  border-radius: 50px;
}

.sidebar__button-logout{
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  margin-top: 8px;
  align-self: flex-start;
}

.sidebar__button-logout:hover{
  opacity: 0.6;
}

.sidebar__button-edit{
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 24px;
}

.sidebar__button-edit:hover{
  opacity:0.6
}