.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    position: relative;
    background-color: white;
    max-width: 412px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 28px 28px;
    font-size: 16px;
    font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
}

.modal__content-edit{
    max-width: 353px;
    max-height: 130px;
    padding-bottom: 60px;
    border: none;
}

.button__close-modal {
    position: absolute;
    background-image: url(../../images/group-119-gray-close-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    right: 23px;
    top: 16px;

}

.modal__title {
    margin-top: 20px;
    font-size: 16px;
    margin: 0;
}

.modal__label {
    display: flex;
    /* margin-top: 24px; */
    flex-direction: column;
}

.modal__label_edit{
margin-top: 20px;
}

.modal__input-text {
    margin-top: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 16px;
    border: none;
    width: 100%;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
}

.modal__label-text-edit{
margin-top: 10px;
margin-bottom: 5px;
}

.modal__input-radio {
    margin-top: 8px;
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.5);
    accent-color: #000;
    gap: 8px;
}

.modal__label-radio {
    padding-bottom: 10px;
}

.button__submit-modal {
    font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
    margin-top: 10px;
    width: 124px;
    height: 36px;
    color: #fff;
    border-radius: 4px;
    background-color: #000;
    transition: opacity linear 0.3s 0.1s;
    cursor: pointer;
}

.button__submit-modal:hover {
    opacity: 0.3;
}