.switch {
    display: flex;
    position: relative;
    color: #7e7e7e;
    transition: color linear 0.1s 0.1s;
    cursor: pointer;
    margin-top: 2px;
    margin-left: 416px;
}

.switch:hover {
    color: #000;
}

.switch__box {
    margin: 0;
    border-radius: 24px;
    border: 2px solid #7e7e7e;
    width: 56px;
    height: 28px;
    appearance: none;
    color: #7e7e7e;
    transition: border-color linear 0.1s 0.1s;
}

.switch__box:hover {
    border-color: #000;
}

.switch__slider {
    border-radius: 20px;
    width: 28px;
    height: 28px;
    background-color: #000;
    color: #FFFF;
    text-align: center;
    position: absolute;
    transition: width linear 0.3s 0.1s;
}

.switch__slider:hover {
    width: 30px;
}

.switch__slider-F {
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.50);
}

.switch__slider-C {
    top: 0;
    left: 27px;
    color: rgba(0, 0, 0, 0.50);
}

.switch__active {
    color: #FFF;
}

.switch__temp-F {
    position: absolute;
    margin: 0;
    font-size: 14px;
    top: 5px;
    left: 12px;

}

.switch__temp-C {
    position: absolute;
    margin: 0;
    font-size: 14px;
    top: 5px;
    left: 37px;
}