
.card__section{
    margin-top: 20px;
    }
    
.card__item-image{
    height: 328px;
    width: 328px;
    border-radius: 10px;
    }
    
.card__item-name{
      text-align: center;
    }

.card__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}