


.card__elements{
  
    background-color: lightgreen;
}
    
.card__item-image{

    height: 328px;
    width: 328px;
    border-radius: 30px;
    cursor: pointer;
    }
    
.card__item-name{
    position: absolute;
    align-items: center;
    font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
    font-size: 16px;
    background-color: blueviolet;
    }

