


.card__elements{
    position: relative;
}
    
.card__item-image{
    height: 328px;
    width: 328px;
    border-radius: 30px;
    cursor: pointer;
    }
    
.card__item-name{
    position: absolute;
    text-align: center;
    font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
    font-size: 16px;
    }

