.weather__section{
    position: relative;
    height: 80px;
  }
  
  .weather__temp{
    position: absolute;
    padding: 15px 18px 15px 18px;
    color: white;
    font-size: 36px;
    width: 100%;
    height: 100%;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  }
  
  .weather__image{
    width: 100%;
  }