.main{
    padding: 0 20px;
    background-color: mediumvioletred;
  }

  .card__section{
    margin-top: 40px;
    background-color: aqua;
    }

.card__section-title{
    margin-bottom: 34px;
    font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    
}

.card__items{
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: center;

}