.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 20px 28px 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;

}

.header__button-addClothes {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  margin-left: -158px;
  margin-top: -5px;
}

.header__button-addClothes:hover {
  opacity: .6;
}

.header__name,
.header__name:link,
.header__name:visited {
  margin-top: 7px;
  margin-left: -194px;
  display: flex;
  color: #000;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  text-decoration: none;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  /* align-content: flex-end; */
}

.link__container {
  text-decoration: none;
  color: #000;
  display: flex;
}

.link__container a {
  text-decoration: none;
  color: #000;
}

.header__name:hover {
  opacity: .6;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__button-register {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  margin-left: -15px;
  margin-top: -5px;
}

.header__button-register:hover{
  opacity: .6;
}

.header__avatar-img{
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  margin-top: -63px;
  margin-left: -13px;
  margin-left: -31px;
  margin-right: 82px;
}
