.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 32px 20px 28px 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__button-addClothes {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
}

.header__button-addClothes:hover {
  opacity: .6;
}

.header__name:link{
  text-decoration: none;
  cursor: pointer;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}