
.modal__image-preview {
    background-color: rgba(0, 0, 0, 0.822);
    max-width: 498px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.modal__preview-name {
    margin-top: 12px;
    margin-left: 32px;
}

.modal__preview-weather {
    margin-top: 12px;
    margin-bottom: 28px;
    margin-left: 32px;
}

.button__delete-preview {
    position: absolute;
    color: red;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    transition: opacity linear 0.2s 0.1s;
    cursor: pointer;
    bottom: 48px;
    right: 39px;
}

.button__delete-preview:hover {
    opacity: .6;
}

.button__delete-preview_visible {
    visibility: visible;
    /* position: absolute;
    color: red;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    transition: opacity linear 0.2s 0.1s;
    cursor: pointer;
    bottom: 68px;
    right: 39px; */
}

/* .button__delete-preview_visible:hover {
    opacity: .6;
} */

.button__delete-preview_hidden {
    visibility: hidden;
}

/* .item__delete-button_hidden{
    visibility: hidden;
} */